@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --dark-black: #111111;
  --light-black: #303030;
  --black: #222222;
  --white-text: #fff;
  --purple: #9f60e7;
  --gray: #777;
}

* {
  padding: 0;
  margin: 0;
  color: var(--white-text);
  font-family: Nunito, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0;
}

input {
  outline: none;
  padding: 2px;
  color: var(--white-text);
  border: none;
  border-bottom: 1px solid var(--purple);
  background-color: transparent;
  font-size: 16px;
}

input[type=file] {
  border: none;
}

form {
  width: 350px;
  padding: 100px 0;
}

.main {
  background-color: var(--black);
  width: 98%;
  padding: 0 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  height: 40px;
  background-color: var(--purple);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}