* {
  margin: 0;
  color: var(--white-text);
  font-family: var(--font);
}

body {
  background-color: var(--light-black);
}

.wrapper {
  width: 96%;
  padding: 2%;
}

.product {
  display: flex;
  padding: 0 7%;
}

.image {
  width: 60%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
}

.description {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30%;
}

.seperator {
  height: 1px;
  width: 100%;
  background-color: var(--white-text);
  margin: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  width: fit-content;
  display: flex;
}

.qty {
  padding: 8px;
  background-color: var(--black);
  border: 1px solid var(--gray);
  border-right: none;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

select {
  border: 1px solid var(--gray);
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 16px;
  background-color: var(--ligh-black);
  outline: none;
}

select:focus {
  border: 2px solid var(--purple);
}

option {
  background-color: var(--black);
}

.buy {
  height: 40px;
  background-color: var(--purple);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.buy:disabled {
  cursor: default;
  opacity: 0.7;
}

.suggestions-section{
  padding: 150px 0 80px 0;
}

.suggestions-grid{
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.suggestion {
  display: flex;
  align-items: center;
  background-color: var(--dark-black);
  padding: 10px 50px 10px 0;
  border-radius: 4px;
}

.suggestion > div > *{
  margin-bottom: 10px;
}