footer {
  position: relative;
  background-color: var(--dark-black);
  height: 200px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

footer * {
  font-family: var(--secondary-font);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  line-height: 1.5em;
}

ul > p {
  color: var(--gray);
  margin-bottom: 5px;
}

.info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  font-size: 12px;
}

.ft-container {
  display: flex;
  gap: 70px;
  margin-left: 10%;
}