* {
  margin: 0;
  color: var(--white-text);
}

button {
  cursor: pointer;
  outline: none;
  font-family: var(--secondary-font);
}

a {
  font-family: var(--secondary-font);
}

body {
  font-family: var(--font);
  background-color: var(--black);
}

.wrapper {
  display: flex;
  margin: 20px 0 50px 0;
}

.product-list {
  width: 73%;
  padding: 0 1%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkout {
  margin-top: 50px;
  width: 25%;
  height: 400px;
  padding: 0 10px;
  font-family: var(--secondary-font);
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.checkout  * {
  color: white;
}

.checkout > * {
  margin-top: 30px;
}

.card-details {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}

input {
  outline: none;
  padding: 2px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  font-size: 16px;
}

.exp {
  /* color: white; */
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.exp > input {
  width: 20px;
}

.exp > input:last-of-type {
  width: 40px;
}

.note{
  font-size: 12px;
  width: calc(100% - 40px);
  background-color: #ad76ec;
  position: absolute;
  bottom: 0px;
  padding: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder{
  color: white;
  font-family: var(--secondary-font);
}

.purchase {
  height: 40px;
  background-color: rgb(72, 18, 117);
  /* color: white; */
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 400px;
  overflow:auto;
}

.item {
  position: relative;
  background-color: var(--light-black);
  width: 95%;
  height: 100px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  border: 2px solid var(--light-black);
  transition: 0.1s;
}

.item:hover {
  border: 2px solid var(--purple);
  transition: 0.2s;
}

.seperator {
  width: 1px;
  height: 50%;
  background-color: var(--gray);
  opacity: 0.6;
}

.item-details {
  width: 40%;
  display: flex;
  align-items: center;
  position: relative;
}

.detail-name{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
}

.item-color {
  width: 15%;
  text-align: center;
}

.item-count {
  width: 20%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.quantity {
  background-color: var(--gray);
  border-radius: 100%;
  border: var(--purple);
  font-size: 20px;
  font-weight: 700;
  width: 35px;
  height: 35px;
  margin: 0 10px;
  color: white;
}

.quantity:focus,
.quantity:hover {
  background-color: var(--purple);
}

.item-price {
  width: 25%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.item-price > p {
  color: var(--gray);
}

.delete-item {
  position: absolute;
  background-color: var(--black);
  border: none;
  font-size: 30px;
  font-weight: 700;
  color: var(--gray);
  width: 3%;
  right: -6%;
  transform: translate(-50%);
}

.delete-item:hover .icon {
  fill: rgb(211, 2, 2);
  transition: 0.2s;
}

.icon {
  fill: var(--gray);
}

.menu {
  width: calc(95% + 4px);
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

.button-area {
  background-color: var(--dark-black);
  width: 31%;
  height: 100px;
  border-radius: 3px;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.delete-all {
  font-size: 16px;
  border: none;
  background-color: inherit;
  padding: 20px 30px;
  color: var(--gray);
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-all path {
  stroke: var(--gray);
}

.link {
  text-decoration: none;
  color: var(--gray);
  display: flex;
  align-items: center;
  gap: 10px;
}

.link path {
  stroke: var(--gray);
}

@media screen and (max-width: 1280px) {
  .wrapper{
    flex-direction: column;
    align-items: center;
  }

  .item * {
    font-size: 12px;
  }

  .item{
    width: 90%;
    padding: 0;
  }

  .checkout{
    min-width: 300px;
    padding: 0;
  }
  .item-count, .item-price {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detail-name {
    position: initial;
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .button-area {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .wrapper > * {
    width: 100%;
  }
}